body {
    font-family: sans-serif;
    background-color: #2BAE66FF;
    margin: 0px;
}

title{
    font-family: 'Courgette', cursive;
}

#calculator {
    height: 520px;
    width: 330px;
    background-color:#FCF6F5FF;
    margin: 0px auto;
    position: relative;
    top: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 4px rgb(16, 107, 57);
}

#result {
    height: 120px;
}

#history {
    text-align: right;
    height: 20px;
    margin: 10 20px;
    padding-top: 20px;
    /* background-color: lightgrey; */
    font-size: 15px;
    padding: 10px;
}

#output {
    text-align: right;
    height: 50px;
    padding-left: 10px;
    margin: 10px 20px;
    font-size: 35px;
}

.operator,
.number,
.empty {
    height: 50px;
    width: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    font-weight: bold;
    font-size: 15px;
    border-width: 0px;
}

.number,
.empty {
    background-color: #FCF6F5FF;
    color: #2BAE66FF;
}

.operator{
    background-color: #2BAE66FF;
    color: #FCF6F5FF;
}

.number{
    border: 1px solid  #2BAE66FF;
}
.operator:active,
.number:active {
    font-size: 13px;
}
.operator,
.number {
    cursor: pointer;
}

.number,
.empty,
.operator {
    outline: 0px;
    
}
 #result, #history, #output{
     color: rgb(28, 119, 69);
 }

 #heading{
     background-color: #FCF6F5FF;
     color:#2BAE66FF ;
     font-family: 'Courgette', cursive;
     font-size:  50px; 
     text-align: center;
     /* width: 100pc; */
     border: 1px solid white;
     margin: 0px;
     padding : 10px;
     box-shadow: 1px 1px 2px 4px rgb(16, 107, 57)
 }